/* переменные  vars */
:root {
  --color-abs-black: #000000;
  --color-abs-white: #ffffff;
  --color-text: #333333;
  --color-text-light: #999999;
  --color-title: rgba(51, 51, 51, 1);
  --color-bg: #FFFFFF;
  --color-primary: #9D5CD0;
  --color-primary-dark: #7943A4;
  --color-primary-light: #C283F3;
}

/* общие стили */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  color: var(--color-text);
}

body {
  margin: 0;
  background-color: var(--color-bg);
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  font-size: 1rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

p {
  margin-left: 8px;
  margin-bottom: 0;
  padding-bottom: 10px;

}

.btn {
  margin: 0 10px;
  padding: 17px 35px;

  background-color: var(--color-bg);
  border: 2px solid var(--color-primary);
  box-sizing: border-box;
  border-radius: 100px;

  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-primary);

  cursor: pointer;
}

.wrapper {
  width: 1600px;
  margin: 0 auto;
}

.title {
  font-size: 48px;
  line-height: 65px;
  margin-top: 0;
  padding-top: 80px;
  margin-bottom: 17px;
  margin-left: 4px;
}

.section {
}

.wrapper.flex {
  display: flex;
  background: none;
}

.gallery__label {
  display: none;
}

/* header */
.header {
  position: absolute;
  top: 0;
  width: 100%;
  color: var(--color-abs-white);
  z-index: 2;
}

.header__menu {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-abs-black);
  padding-right: 136px;
  padding-left: 160px;
}

.burger {
  display: none;
  background: transparent url(../img/icons/burger.svg) no-repeat center / contain;
  width: 36px;
  height: 28px;
}

.header__menu__logo {
  margin-top: 7px;
}

nav.header__menu__nav {
  margin-right: 43px;
}

.main__menu {
  display: flex;
}

.main__menu__item {
  margin-right: 54px;
}

.main__menu__link {
  color: var(--color-abs-white);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  padding: 4px;
  text-align: center;
  box-sizing: border-box;
}

.main__menu__link:focus {
  outline: 2px solid var(--color-primary-dark);
}

.main__menu__link:hover {
  color: var(--color-primary-light);
}

.main__menu__link:hover path {
  fill: var(--color-primary-light);
}

.main__menu__link:active {
  color: var(--color-primary-dark);
  outline: none;
}

.main__menu__link:active path {
  fill: var(--color-primary-dark);
}

.account__login {
  font-size: 18px;
  line-height: 25px;
}

.account__login svg {
  margin-right: 1px;
}

.main__header__search {
  display: none;
}

.icon__login {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 7px;
  background: transparent url(../img/icons/account_login.svg) no-repeat center / contain;
}

.header__sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 152px;
  padding-left: 155px;
  height: 70px;
  background: rgba(0, 0, 0, 0.4);
}

.header__sub__menu {
  display: flex;
}

.sub__menu__item {
  margin-right: 92px;
}

.sub__menu__link {
  display: flex;
  align-items: center;
  color: var(--color-abs-white);
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.5px;
}

.sub__menu__link:after {
  content: '';
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  margin-left: 6px;
  width: 7px;
  height: 7px;
  display: inline-block;
  box-sizing: border-box;
  transform: rotate(-45deg);
}

.sub__menu__link:hover:after {
  border-color: var(--color-primary-light);
}

.sub__menu__link:active:after {
  border-color: var(--color-primary-dark);
}

#main-search label {
  display: inline-block;
  width: 22px;
  height: 22px;


}

#main-search {
  position: relative;
}

.btn-none {
  padding: 8px 8px 6px 6px;
  color: transparent;
  background: transparent;
  border: none;
  outline: none;
  margin-right: 4px;
  margin-top: 7px;
  position: absolute;
  left: -29px;
  top: -2px;
}

.btn-none:focus {
  outline: 2px solid var(--color-primary-dark);
}

#main-search-input {
  padding: 8px 8px 6px;
  color: var(--color-abs-white);
  background: transparent;
  border: none;
  caret-color: var(--color-primary-light);
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 2px;
}

#main-search-input::placeholder {

  color: var(--color-abs-white);
  border-bottom: 1px solid var(--color-abs-white);
}


#main-search-input:focus {
  outline: 2px solid var(--color-primary-dark);
}

#main-search-input:active {
  border: none;
  outline: none;
  border-bottom: 1px solid white;
}

#main-search-input::placeholder {
  border: none;
  outline: none;
}

#main-search-input:hover ~ button path,
#main-search-input:hover ~ button rect,
#main-search:focus-within .btn-none path,
#main-search:focus-within .btn-none rect {
  fill: var(--color-primary-dark);
}


/* hero */
.hero {
  position: relative;
  height: 800px;
}

.hero__title {
  position: absolute;
  width: 597px;
  height: 192px;
  left: 156px;
  top: 182px;
  font-weight: bold;
  font-size: 72px;
  line-height: 82px;
  color: var(--color-abs-white);
  z-index: 2;
  letter-spacing: 1.6px;
}

.hero__desc {
  position: absolute;
  width: 579px;
  height: 90px;
  left: 160px;
  top: 426px;
  letter-spacing: 0.5px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  z-index: 2;
  color: var(--color-abs-white);
}

.btn-hero {
  background-color: var(--color-primary);
  color: var(--color-abs-white);

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 17px 35px;

  position: absolute;
  min-width: 315px;
  height: 70px;
  left: 150px;
  top: 608px;
  z-index: 2;
  letter-spacing: 0.3px;
  white-space: nowrap;
}

/* about */
.about__text {
  width: 1075px;
  padding-bottom: 70px;
}

/* gallery */
.section-gallery {
  color: var(--color-abs-white);
  background: var(--color-text) url(../img/birmingham-m3.jpg) no-repeat center / cover;
}

.gallery__filter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  margin-right: 50px;
  margin-bottom: 70px;
  padding-top: 10px;
}

.title-gallery {
  padding-top: 70px;
}

.gallery__form {
  margin-bottom: auto;
  margin-left: 7px;
}

.gallery__filter__desc {
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  margin-left: 1px;
  margin-bottom: 7px;
}

.gallery {
  position: relative;
  margin-top: 163px;
  min-width: 0;
  width: 1150px;
  margin-bottom: 81px;
  margin-left: 9px;
  height: 750px;
}

.gallery__select {
  padding-left: 11px;
  width: 400px;
  height: 40px;
  background: transparent;
  color: var(--color-abs-white);
  border: 1px solid var(--color-abs-white);
  box-sizing: border-box;
  border-radius: 6px;
}

.gallery__input {
  padding-left: 21px;
  width: 400px;
  height: 40px;
  background: transparent;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-text-light);
  border: 1px solid #999999;
  box-sizing: border-box;
}

.gallery__form input:not(:last-child) {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.gallery__form input[type=text]:last-child {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;

}

.gallery__info {
  width: 345px;
  letter-spacing: 0.34px;
  margin-left: 9px;
}

.swiper-slide {
  height: calc((100% - 50px) / 2);
  overflow: hidden;
}

.swiper-arrow {
  background: transparent url(../img/icons/arrow.svg) no-repeat center;
  position: absolute;
  top: -60px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.swiper-arrow-right {
  left: 100px;
}

.swiper-arrow-left {
  transform: rotate(180deg);
}


.swiper-arrow:focus {
  background-image: url(../img/icons/arrow_hover.svg);
}

.swiper-arrow:active {
  background-image: url(../img/icons/arrow_active.svg);
}

.swiper-button-disabled {
  background-image: url(../img/icons/arrow_disabled.svg) !important;
  cursor: default;
  outline: none;
}

.gallery-pagination {
  position: absolute;
  top: -60px;
  left: 50px;
  width: 50px;
}

/* каталог */
.wrapper {
  background-color: white;
}

.catalog__header {
  padding-top: 78px;
  display: flex;
  align-items: center;
  font-size: 48px;
  line-height: 65px;
  padding-left: 4px;
  letter-spacing: -1px;
  color: #333333;
}

.catalog__header .title {
  padding: 0;
  margin: 0 32px 0 0;
}

.icon-flags {
  width: 66px;
  height: 66px;
  margin-right: 30px;
  margin-top: 4px;
  border-radius: 50px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 50px;
  background-position: center;
  box-sizing: border-box;

}

.flag-active {
  border: 2px solid #9D5CD0;
}

.flag-4 {
  background-image: url(../img/flags/image_4.png);
}

.flag-5 {
  background-image: url(../img/flags/image_5.png);
}

.flag-6 {
  background-image: url(../img/flags/image_6.png);
}

.flag-7 {
  background-image: url(../img/flags/image_7.png);
}

.flag-8 {
  background-image: url(../img/flags/image_8.png);
}

.catalog__text {
  max-width: 1100px;
  margin-top: 14px;
}

.catalog__columns {
  display: flex;
  margin-top: 28px;
  margin-left: 8px;
}

.catalog__column-left {
  max-width: 750px;

}

.catalog__info__header {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  margin-top: 19px;
  color: #333333;
}

.catalog__info__sub {
  font-size: 12px;
  line-height: 16px;
  margin-top: 10px;

  color: #999999;
}

.catalog__info__text {
  font-size: 16px;
  line-height: 32px;
  /* or 200% */
  color: #333333;
  margin-top: 5px;
}

.catalog__column-right {
  width: 100%;
  margin-left: 50px;
  margin-right: -8px;
}

.accordion__header, .ui-accordion-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  min-height: 114px;
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
  margin-top: 0px;
  margin-bottom: 0px;
}

.ui-state-active.ui-accordion-header {
  border-color: #9D5CD0;
  outline: none;
}

.accordion__header__title {
  height: 31px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

.accordion__header__icon {
  width: 50px;
  height: 50px;
  background: transparent url(../img/icons/arrow_up.svg) no-repeat center / contain;
  transform: rotate(180deg);
}

.ui-state-active .accordion__header__icon {
  transform: rotate(0deg);
  display: block;
}

.accordion__body {
  display: flex;
  align-items: baseline;
  margin-top: 26px;
  margin-bottom: 27px;
  justify-content: space-between;
  margin-right: 108px;
  /* margin-left: -36px; */
  padding: 0;
}

.catalog__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 290px;
}

.catalog__list__item {
  width: 258px;
}

.catalog__list__item-active {
  color: #9D5CD0;
  letter-spacing: .5px;
}

@media (min-width: 320px) and (max-width: 1919px) {
  .header__sub {
    display: none;
  }

  .main__header__search {
    display: block;
  }

  .header__menu__nav {
    display: none;
  }

  .burger {
    display: block;
  }

  .header__menu__logo img {
    width: 189px;
  }

  .header__menu {
    padding-left: 50px;
    padding-right: 50px;
  }

  .account__login {
    display: none;
  }

  #search-input {
    display: none;
  }


  #search label {
    display: inline-block;
    width: 22px;
    height: 22px;
  }

  .btn-none {
    position: unset;
  }

  .btn-none svg {
    width: 40px;
    height: 29px;
  }

  #search {
    position: relative;
  }

  .hero .swiper-slide {
    height: 770px;
  }

  .hero__title {
    left: 44px;
    top: 153px;
  }

  .hero__desc {
    width: 700px;
    left: 50px;
    top: 391px;
    letter-spacing: 0.45px;
  }

  .btn-hero {
    left: 40px;
    top: 585px;
  }

  .wrapper {
    width: 940px;
  }

  .section {
    margin-bottom: 40px;
  }

  .title {
    margin-top: 35px;
    margin-bottom: 14px;
    padding-top: 7px;
  }

  .about__text {
    width: 921px;
    margin-left: 7px;
    margin-top: 18px;
    margin-bottom: 0;
  }

  .about {
    margin-bottom: 0;
  }

  .title-gallery {
    margin-top: 26px;
    letter-spacing: -1px;
  }

  .catalog__header {
    padding-top: 30px;
  }

  .icon-flags {
    margin-top: 17px;
  }

  .catalog__text {
    margin-top: 7px;
    margin-left: 7px;
  }

  .catalog__ingo__img {
    max-width: 437px;
  }

  .gallery__filter {
    padding-top: 45px;
    width: 288px;
    margin-right: 41px;
  }

  .gallery__select {
    width: 100%;
  }

  .gallery__form {
    margin-top: 2px;
  }

  .gallery__input {
    width: 100%;
  }

  .gallery__info {
    width: 285px;
  }

  .gallery__filter__desc {
    margin-bottom: 11px;
  }

  .gallery {
    width: 594px;
    height: 595px;
  }

  .swiper-slide {
    height: calc((100% - 35px) / 2);
  }

  .swiper-gallery {
    height: 595px;
  }

  .catalog__list {
    column-count: 2;
  }

  .catalog__column-left {
    max-width: 436px;
  }

  .accordion__body {
    margin-right: 0;
    padding: 0;
    margin-bottom: 30px;

  }

  .catalog__column-right {
    margin-right: 8px;
  }

  .catalog__list {
    column-count: 2;
    column-gap: 42px;
    column-width: 198px;
    height: 384px;
  }

  .catalog__list__item {
    width: 209px;
  }

}

@media (min-width: 768px) and (max-width: 1023px) {
  .title {
    margin-left: 0;
  }

  .flex {
    flex-direction: column;
  }

  .wrapper {
    width: calc(100% - 90px);
  }

  .about__text {
    width: 665px;
    margin-left: 7px;
  }

  .gallery__filter {
    position: relative;
    width: 100%;
    margin-bottom: 0;

  }

  .gallery__form {
    margin-left: 2px;
    width: 280px;
  }

  .gallery {
    width: 100%;
    margin: 89px 2px 163px;
  }

  .gallery__info {
    margin-left: 2px;
    position: absolute;
    top: 1035px;
    width: 100%;
    letter-spacing: 0.4px;
  }

  .catalog__columns {
    flex-direction: column-reverse;
  }

  .catalog__header .title {
    margin: 0 27px 0 0;
  }

  .icon-flags {
    margin-top: 10px;
    background-size: 44px;
  }

  .icon-flags:last-child {
    margin-right: 0;
  }

  .icon-flags:not(:last-child) {
    margin-right: 35px;
  }

  .catalog__text {
    margin-top: 14px;
    margin-left: 4px;
  }

  .catalog__columns {
    margin-left: 0;
  }

  .accordion__header__title {
    margin-bottom: 5px;
  }

  .catalog__column-right {
    margin-left: 3px;
    margin-right: 0;
  }

  .catalog__columns {
    margin-top: 11px;
  }

  .accordion__header__icon {
    margin-right: 9px;
  }

  .catalog__list {
    column-count: 3;
    column-gap: 33px;
    column-width: 200px;
    height: 308px;
  }

  .accordion__body {
    margin-right: 0;
    padding: 0;
    margin-bottom: 7px;
  }

  .catalog__column-left {
    max-width: 100%;
    margin-left: 5px;
    margin-top: 52px;
    margin-right: 5px;
  }

  .catalog__ingo__img {
    max-width: 100%;
  }

}

@media (min-width: 320px) and (max-width: 767px) {
  .header__menu {
    padding-left: 10px;
    padding-right: 13px;
    height: 45px;
  }

  .burger {
    width: 26px;
    height: 17px;

  }

  .btn-none svg {
    width: 18px;
    height: 18px;
  }

  .btn-none {
    padding: 0;
    margin-right: 0;
    margin-top: 11px;
  }

  .hero__title {
    top: 51px;
    left: 32px;
    width: 80%;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.5px;
  }

  .hero__desc {

    top: 165px;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    width: 82%;
    letter-spacing: -0.3px;
    left: 30px;

  }

  .header__menu__logo img {
    width: 97px;
  }

  .hero {
    height: 354px;
  }

  .btn-hero {
    left: 49px;
    top: 269px;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    padding: 17px 18px;
    min-width: 165px;
    height: 40px;

  }

  .swiper-hero {
    height: 100%;
  }

  .swiper-slide {
    height: 100%;
  }

  .section {
    margin-bottom: 40px;
  }

  .wrapper {
    width: calc(100% - 15px);
  }

  .title {
    margin-top: 43px;
    font-size: 28px;
    line-height: 38px;
  }

  .about__text {
    width: 95%;
    font-size: 14px;
    margin-left: 7px;
    margin-top: 14px;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .gallery__filter {
    padding-top: 0;
  }

  .gallery__filter__desc {
    margin-bottom: 2px;
  }

  .gallery__form {
    margin-bottom: auto;
    margin-left: 7px;
    width: 100%;
  }

  .flex {
    display: flex;
    flex-direction: column;
  }

  .section-gallery {
    min-height: 962px;
  }

  .gallery__info {
    width: 285px;
    position: absolute;
    top: 733px;
  }

  .gallery__filter {
    position: relative;
    margin-bottom: 39px;

  }

  .swiper-gallery {
    height: 367px;
  }

  .gallery {
    width: 290px;
    height: 367px;
    margin-top: 0;
  }

  .swiper-slide {
    height: 100%;
  }

  .gallery-pagination {
    top: calc(100% + 20px);
    left: calc(100% / 2 - 23px);
  }

  .swiper-arrow {
    top: calc(100% + 20px);
  }

  .swiper-arrow-left {
    left: calc(100% / 2 - 67px);
  }

  .swiper-arrow-right {
    left: calc(100% / 2 + 33px);
  }

  .catalog__columns {
    flex-direction: column-reverse;
    margin-right: 0;
    margin-top: 0;
  }

  .catalog__header {
    display: block;
    padding-top: 41px;
    line-height: 63px;
  }

  .icon-flags {
    display: inline-block;
    background-size: 33px;
    width: 40px;
    height: 40px;
    margin-right: 13px;
    margin-top: 5px;
  }

  .icon-flags:last-child {
    margin-right: 0;
  }

  .catalog__text {
    display: none;
  }

  .catalog__column-right {
    margin-right: 0;
    margin-left: 0;
  }

  .accordion__header, .ui-accordion-header {
    min-height: 74px;
  }

  .accordion__header__title {
    font-size: 18px;
  }

  .accordion__header__icon {
    width: 30px;
    height: 30px;
    margin-right: 8px;
  }

  .accordion__body {
    margin-top: 17px;
    margin-left: -2px;
    margin-bottom: 17px;
  }

  .catalog__list {
    column-count: 1;
    column-gap: 42px;
    column-width: 198px;
    min-height: 770px;
  }

  .catalog__ingo__img {
    max-width: 290px;
  }

  .catalog__column-left {
    margin-top: 53px;
  }

  .catalog__info__header {
    margin-top: 9px;
  }

  .catalog__info__sub {
    margin-top: 14px;
  }

  .catalog__info__text {
    margin-top: 5px;
    width: 288px;
  }
}
